apiVersion: v1
kind: Pod
metadata:
  name: "{{ include "<#= solution.deploymentname #>.fullname" . }}-test-connection"
  labels:
    app.kubernetes.io/name: {{ include "<#= solution.deploymentname #>.name" . }}
    helm.sh/chart: {{ include "<#= solution.deploymentname #>.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  annotations:
    "helm.sh/hook": test-success
spec:
  containers:
    - name: wget
      image: busybox
      command: ['wget']
      args:  ['{{ include "<#= solution.deploymentname #>.servicename" . }}:80/api/values']
  restartPolicy: Never