[Oo]bj/
[Bb]in/
TestResults/
.nuget/
.build/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.sln.ide
project.lock.json
.vs
.vscode/
.testPublish/
*.nuget.props
*.nuget.targets
.corext/
*corext*
.sln.hash*
.*proj.hash*
*.csproj.*
*.binlog
*.log
*metaproj*
*.orig
out/
gen/
docs/Thumbs.db
RoleProjects.libsonnet
wwwroot
appsettings.Development.json

!src/templates/ev2/ServiceGroupRoot/bin
deployment/ev2/ServiceGroupRoot/*
config/repoconfig.Dev.json
.version/